@{
    <link rel="stylesheet" href="~/css/index.css">
}


<div class="text-center">
    <body>

        <div class="login-container" method="get">
            <form class="login-form">
                <label for="username">Felhasználónév</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Jelszó</label>
                <input type="password" id="password" name="password" required>

                <button formaction="@Url.Action("FirstPage","Home")" type="submit">Bejelentkezés</button>
            </form>
        </div>

    </body>
</div>



